:root{
    --facebook: #3B5998;
    --google: #fff;
    --apple: #363636;
    --Asap: 'Asap', sans-serif;
    --Arimo: 'Arimo', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    text-align: center;
}


.lg-desk{
    display: none;
}

.img-login-desk{
    display: none;
}

.lg{
    display: flex;
    flex-direction: column;
}

.img-login{
    display: flex;
    width: 295px;
    height: 14vh;
    margin-top: 10%;
    margin-left: 2.9%;
    filter: brightness(0.8) opacity(1);
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 0px 15px 2.5px rgba(0, 0, 0, 0.502);
    z-index: 0;
}
body.dark .img-login{
    box-shadow: 0px 0px 30px 5px rgba(80, 80, 80, 0.508)
}

.login-container{
    width: 95%;
    height: 500px;
    margin-left: auto;
    padding: 5%;
    margin-top: -15%;
    margin-bottom: 20%;
    margin-right: 2%;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 25px 25px 25px 25px;
    z-index: 9;
}
body.dark .login-container{
    background-color: #d9d8d8;
}
.txt-login{
    width: 60%;
    text-align: left;
    font-family: 'Arimo', sans-serif;
    font-size: 1.4rem;
    font-weight: 550;
    padding: 5%;
}

a{
    text-decoration: none;
}
.badges{
    margin-top: 2.5%;
    margin-bottom: 10%;
}


.bd:hover{
    transform: scale(1.025);
}

.badge-facebook{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--facebook);
    width: 90%;
    height: 35px;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
}.facebook-img{
    width: 28%;
    margin-right: 23%;
    margin-top: 5%;
}.facebook-txt{
    font-family: var(--Asap);
    color: #fff;
    width: 103%;
    margin-left: -27%;
    font-weight: 500;
    font-size: .8rem;
}

.badge-google{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--google);
    width: 90%;
    height: 35px;
    border-radius: 10px 10px 10px 10px;
    border: solid 2px rgba(119, 88, 88, 0.5);
    margin: 0 auto;
    margin-top: 5%;

}.google-img{
    width: 23%;
    margin-right: 33%;
    margin-top: 5%;
}.google-txt{
    font-family: var(--Asap);
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-left: -35%;
    font-weight: 600;
    font-size: .8rem;
}

.badge-apple{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--apple);
    width: 90%;
    height: 35px;
    
    border-radius: 10px 10px 10px 10px;
    border: solid 2px rgba(119, 88, 88, 0.5);
    margin: 0 auto;
    margin-top: 5%;

}.apple-img{
    width: 23%;
    margin-right: 41%;
    margin-top: 5%;
}.apple-txt{
    font-family: var(--Asap);
    color: #fff;
    width: 100%;
    margin-left: -41%;
    font-weight: 550;
    font-size: .8rem;
}

.OU{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.ou{
    font-size: .8rem;
    font-family: var(--Asap);
    padding-left: 5%;
    padding-right: 5%;
    color: #8f8f8f;
}
.l1l{
    background: #8f8f8fd5;
    color: #ffffff00;
    width: 100%;
    height: 2px;
}
.l2l{
    background: #8f8f8fd5;
    color: #ffffff00;
    width: 100%;
    height: 2px;
}



.usuario{
    width: 90%;
    height: 35px;
    padding: 5%;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
    font-size: .9rem;
}
.usuario::placeholder{
    font-family: var(--Asap);
    font-size: .9rem;
}

.senha{
    width: 90%;
    height: 35px;
    padding: 5%;
    margin-top: 5%;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
    font-size: .9rem;
}
.senha::placeholder{
    font-family: var(--Asap);
    font-size: .9rem;
}

.obrigatorio{
    display: none;
    text-align: left;
    font-family: var(--Arimo);
    font-size: .9rem;
    margin-left: 5%;
}

.esqueci{
    font-size: .8rem;
    text-align: left;
    font-family: var(--Arimo);
    color: #EC3540;
    margin-left: 6%;
    margin-top: 5%;
}
.esqueci:hover{
    text-decoration: underline;
}

.btn-entrar{
    background-color: #EC3540;
    width: 90%;
    height: 35px;
    padding: 0%;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 10px 10px 10px 10px;
}
.btn-entrar:hover{
    background-color: #363636;
}
.btn-entrar:active{
    background-color: #ffffff00;
    border: solid 2.5px#EC3540;
    color:#EC3540;
}
.txt-entrar{
    font-family: var(--Arimo);
    color: #fff;
    height: 30px;
    width: 100%;
    padding: 3%;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.txt-entrar:active{
    margin-top: -1%;
    color:#EC3540;
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Mobile 390PX */
@media only screen and (min-width: 390px){
    .login-container{
        height: 520px;
    }
    
    .facebook-txt{
        font-size: .9rem;
    }

    .google-txt{
        font-size: .9rem;
    }
    .google-img{
        margin-right: 38%;
    }

    .apple-txt{
        font-size: .9rem;
    }
    .apple-img{
        margin-right: 45%;
    }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Mobile 414PX */
@media only screen and (min-width: 414px){
    .img-login{
        width: 317px;
    }

    .login-container{
        height: 535px;
    }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Mobile 428PX */
@media only screen and (min-width: 428px){
    .img-login{
        width: 330px;
    }

    .login-container{
        height: 535px;
    }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Tablet 768PX */
@media only screen and (min-width: 768px){

    .img-login{
        width: 600px;
        height: 18vh;
        margin-top: 8%;
        margin-left: 9%;
        border-radius: 25px 25px 25px 25px;
    }

    .login-container{
        width: 80%;
        height: 750px;
        margin-left: auto;
        padding: 5%;
        margin-top: -15%;
        margin-bottom: 10%;
        margin-right: 7.5%;
    }

    .txt-login{
        width: 90%;
        font-size: 1.8rem;
    }


    .badges{
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .badge-facebook{
        width: 90%;
        height: 45px;
        margin-top: 5%;
    
    }.facebook-img{
        width: 38%;
        margin-left: -25%;
        margin-top: 5%;
    }.facebook-txt{
        margin-left: -15%;
        font-size: 1.2rem;
    }
    
    .badge-google{
        width: 90%;
        height: 45px;
        margin-top: 5%;
    
    }.google-img{
        width: 33%;
        margin-left: -30%;
        margin-top: 5%;
    }.google-txt{
        margin-left: -22%;
        font-size: 1.2rem;
    }
    
    .badge-apple{
        width: 90%;
        height: 45px;
        margin-top: 5%;
    
    }.apple-img{
        width: 33%;
        margin-left: -32%;
        margin-top: 5%;
    }.apple-txt{
        margin-left: -28%;
        font-size: 1.2rem;
    }

    .OU{
        margin-bottom: 5%;
    }
    .ou{
        font-size: 1rem;
    }
    .l1l{
        height: 3px;
    }
    .l2l{
        height: 3px;
    }

    .usuario{
        font-size: 1rem;
        margin-top: 5%;
    }
    .usuario::placeholder{
        font-size: 1.1rem;
    }
    .senha{
        font-size: 1rem;
    }
    .senha::placeholder{
        font-size: 1.1rem;
    }
    .obrigatorio{
        margin-top: 1%;
    }

    .esqueci{
        font-size: .9rem;
        margin-top: 3%;
    }

    .btn-entrar{
        height: 45px;
    }
    .txt-entrar{
        height: 100px;
        width: 100%;
        font-size: 1.4rem;
    }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Tablet 800PX */
@media only screen and (min-width: 800px){
    .img-login{
        width: 625px;
        height: 15vh;
    }

    .login-container{
        width: 80%;
        height: 780px;
        margin-left: auto;
        padding: 5%;
        margin-top: -10%;
        margin-bottom: 20%;
        margin-right: 7.5%;
    }

    .txt-login{
        width: 90%;
        font-size: 1.8rem;
    }


    .badges{
        margin-top: -2%;
    }

    .badge-facebook{
        height: 48px;
    }.facebook-img{
        margin-left: -25%;
    }.facebook-txt{
        margin-left: -15%;
        font-size: 1.2rem;
    }
    
    .badge-google{
        height: 48px;
    
    }.google-img{
        margin-top: 2.5%;
    }.google-txt{
        margin-left: -21%;
        font-size: 1.2rem;
    }
    
    .badge-apple{
        height: 48px;
    }.apple-img{
        margin-left: -32%;
        margin-top: 2.5%;
    }.apple-txt{
        font-size: 1.2rem;
    }


    .usuario{
        font-size: 1.1rem;
    }
    .usuario::placeholder{
        font-size: 1.2rem;
    }
    .senha{
        font-size: 1.1rem;
    }
    .senha::placeholder{
        font-size: 1.2rem;
    }
    .obrigatorio{
        margin-top: 1.5%;
    }

    .esqueci{
        font-size: 1rem;
        margin-top: 4%;
    }

    .btn-entrar{
        height: 50px;
    }
    .txt-entrar:active{
        margin-top: -.5%;
    }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Tablet 820PX */
@media only screen and (min-width: 820px){
    .img-login{
        width: 645px;
        height: 15vh;
    }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Tablet 834PX */
@media only screen and (min-width: 834px){
    .img-login{
        width: 660px;
        height: 15vh;
    }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Desktop 1024PX */
@media only screen and (min-width: 1024px){
    .lg{
        display: none;
    }
    .img-login{
        display: none;
    }
    .lg-desk{
        display: flex;
        flex-direction: column;
    }
    
    .img-login-desk{
        display: flex;
        width: 60%;
        height: 25vh;
        margin-top: 5%;
        margin-left: 21.5%;
        filter: brightness(0.8) opacity(1);
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.502);
    }
    body.dark .img-login-desk{
        box-shadow: 0px 0px 30px 5px rgba(80, 80, 80, 0.508)
    }

    .login-container-desk{
        display: flex;
        flex-direction: row;
        width: 700px;
        height: 500px;
        margin-left: auto;
        padding: 5%;
        margin-top: -5%;
        margin-bottom: 0%;
        margin-right: 20%;
        background-color: #ffffff;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 25px 25px 25px 25px;
        z-index: 9;
    }
    body.dark .login-container-desk{
        background-color: #d9d8d8;
    }
    
    .ladoEsq{
        margin-left: -7.5%;
        margin-top: -5%;
    }
    .txt-login-desk{
        width: 70%;
        text-align: left;
        font-family: 'Arimo', sans-serif;
        font-size: 1.5rem;
        font-weight: 550;
    }
    
    a{
        text-decoration: none;
    }
    .badges-desk{
        margin-top: 8%;
        margin-bottom: 5%;
    }
    
    
    .bd-desk:hover{
        transform: scale(1.025);
    }
    
    .badge-facebook-desk{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: var(--facebook);
        width: 80%;
        height: 6vh;
        border-radius: 10px 10px 10px 10px;
    }.facebook-img-desk{
        width: 34%;
        margin-right: 23%;
        margin-top: 5%;
    }.facebook-txt-desk{
        font-family: var(--Asap);
        color: #fff;
        width: 106%;
        margin-left: -24%;
        font-weight: 500;
        font-size: .95rem;
    }
    
    .badge-google-desk{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: var(--google);
        width: 80%;
        height: 6vh;
        border-radius: 10px 10px 10px 10px;
        border: solid 2px rgba(119, 88, 88, 0.5);
        margin-top: 5%;
    }.google-img-desk{
        width: 29%;
        margin-right: 40%;
        margin-top: 5%;
    }.google-txt-desk{
        font-family: var(--Asap);
        color: rgba(0, 0, 0, 0.5);
        width: 101%;
        margin-left: -31%;
        font-weight: 600;
        font-size: .95rem;
    }
    
    .badge-apple-desk{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: var(--apple);
        width: 80%;
        height: 6vh;
        border-radius: 10px 10px 10px 10px;
        border: solid 2px rgba(119, 88, 88, 0.5);
        margin-top: 5%;
    }.apple-img-desk{
        width: 29%;
        margin-right: 47%;
        margin-top: 5%;
    }.apple-txt-desk{
        font-family: var(--Asap);
        color: #fff;
        width: 100%;
        margin-left: -36%;
        font-weight: 550;
        font-size: .95rem;
    }
    
    .OU-desk{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        margin-right: 15%;
        margin-left: -5%;
        width: 5%;
        height: 400px;
    }
    .ou-desk{
        font-size: .9rem;
        font-family: var(--Asap);
        color: #8f8f8f;
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .l1l-desk{
        background: #8f8f8fd5;
        color: #ffffff00;
        width: 150px;
        margin-top: -80px;
        height: 2px;
        transform: rotate(90deg);
    }
    .l2l-desk{
        background: #8f8f8fd5;
        color: #ffffff00;
        width: 150px;
        margin-bottom: -100px;
        height: 2px;
        transform: rotate(90deg);
    
    }
    
    
    .ladoDir{
        margin-left: -10%;
        margin-top: 2.5%;
    }
    .txt-login2-desk{
        width: 100%;
        text-align: left;
        font-family: 'Arimo', sans-serif;
        font-size: 1.5rem;
        font-weight: 550;
        margin-top: -15%;
    }
    
    .inputs-desk{
        margin-top: 15%;
    }
    .usuario-desk{
        width: 130%;
        height: 6vh;
        padding: 5%;
        margin-top: 0%;
        border: solid 2px rgba(0, 0, 0, 0.5);
        border-radius: 10px 10px 10px 10px;
    }
    .usuario-desk::placeholder{
        font-family: var(--Asap);
        font-size: .9rem;
    }
    
    .senha-desk{
        width: 130%;
        height: 6vh;
        padding: 5%;
        margin-top: 10%;
        border: solid 2px rgba(0, 0, 0, 0.5);
        border-radius: 10px 10px 10px 10px;
    }
    .senha-desk::placeholder{
        font-family: var(--Asap);
        font-size: .9rem;
    }
    
    .obrigatorio-desk{
        display: none;
        text-align: left;
        font-family: var(--Arimo);
        font-size: .9rem;
    }
    
    .esqueci-desk{
        font-size: .85rem;
        text-align: left;
        font-family: var(--Arimo);
        color: #EC3540;
        margin-left: 3%;
        margin-top: 5%;
    }
    .esqueci-desk:hover{
        text-decoration: underline;
    }
    
    .btn-entrar-desk{
        background-color: #EC3540;
        width: 50%;
        height: 6vh;
        padding: 0%;
        margin-top: 15%;
        border-radius: 10px 10px 10px 10px;
    }
    .btn-entrar-desk:hover{
        background-color: #363636;
    }
    .btn-entrar-desk:active{
        background-color: #ffffff00;
        border: solid 2.5px#EC3540;
        color:#EC3540;
    }
    .txt-entrar-desk{
        font-family: var(--Arimo);
        color: #fff;
        height: 6vh;
        width: 100%;
        padding: 13%;
        letter-spacing: 1px;
        font-size: 1.1rem;
    }
    .txt-entrar-desk:active{
        margin-top: -1%;
        color:#EC3540;
    }
}

/* @media only screen and (min-width: 1280px) {
    .img-login-desk{
        width: 61.5%;
        height: 22vh;
        margin-left: 20%;

    }
} */

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Desktop 1366PX */
@media only screen and (min-width: 1366px){
    .img-login-desk{
        width: 57.3%;
        height: 25vh;
        margin-top: 5%;
        margin-left: 22.5%;
    }

    .login-container-desk{
        margin-right: 22%;
    }

    .txt-entrar-desk{
        height: 6vh;
        padding: 16%;
    }
}