/* Apagando outros slides */
.fornecedores,
.fornecedor-desk{
    display: none;
}

/* Section */
.slide{
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

/* Slide */
.container-slide{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.container-slide::-webkit-scrollbar{
    display: none;
}

/* Circulo */
.fornecedor-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    scroll-snap-align: start;
    -webkit-user-select:auto;
    user-select: none;
    border-radius: 50%;
    height: 225px;
    width: 225px;
    margin-top: 2%;
}
/* Circulo modo escuro */
body.dark .fornecedor-slide{
    background: rgb(29, 31, 31)
}

/* Imagens */
.jaguar-slide{
    width: 70%;
}.mercedes-slide{
    width: 50%;
}.audi-slide{
    width: 50%;
}.bmw-slide{
    width: 50%;
}.ferrari-slide{
    width: 100%;
}.lamborghini-slide{
    width: 50%;
}.porsche-slide{
    width: 60%;
    margin-top: 10%;
}.bugatti-slide{
    width: 70%;
}

/* Mobile 375PX */
@media only screen and (min-width: 375px){
    /* Circulo */
    .fornecedor-desk,
    .imagem-desk,
    .row-desk,
    .fornecedor-desk{
        display: none;
    }
    .fornecedor-slide{
        width: 225px;
        height: 225px;
    }
}

/* Tablet 768PX */
@media only screen and (min-width: 768px){
    /* Apagando outro slide */
    .slide{
        display: none;
    }
    .fornecedor{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 100%;
        width: 225px;
        height: 225px;
    }
    /* Section */
    .fornecedores{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fornecedores .imagem {
        width: 80%;
    } 
    /* Divisão */
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5%;
    }
    /* Circulo modo escuro */
    body.dark .fornecedor{
        background: rgb(29, 31, 31)
    }
    /* Imagens */
    .jaguar{
        width: 70%;
    }.mercedes{
        width: 50%;
    }.audi{
        width: 50%;
    }.bmw{
        width: 50%;
    }.ferrari{
        width: 100%;
    }.lamborghini{
        width: 50%;
    }.porsche{
        width: 60%;
        margin-top: 10%;
    }.bugatti{
        width: 70%;
    }
}


/* Desktop 1024PX */
@media only screen and (min-width: 1024px){
    .fornecedor-desk{
        display: block;
        width: 100%;
    }
    /* Circulo */
    .fornecedores{
        display: none;
    }
    .imagem-desk{
        display: flex;
        flex-direction: column;
    }
    /* Divisão */
    .row-desk{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5%;
    }
    /* Circulo */
    .fornecedor-item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 225px;
        height: 225px;
        background: #fff;
        border-radius: 100%;
    }
    /* Circulo modo escuro */
    body.dark .fornecedor-desk{
        background: rgb(29, 31, 31)
    }
}