/* CSS */
@import url(header.css);
@import url(main.css);
@import url(tablet_desktop/slide_carros.css);
@import url(mobile/slide_fornecedores.css);
@import url(footer.css);
@import url(btnSubir.css);
@import url(navbar.css);

/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Asap&family=Audiowide&family=Padauk&family=Poppins:ital@0;1&display=swap');
/* ---------------------------------------------------------------------------------------------------------------- */


/* Geral */
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --body-color: #E4E9F7;
    --navbar-color: #FFF;
    --primary-color: #EC3540;
    --modo-color: #F6F5FF;
    --alternar-color: #DDD;
    --text-color: #606060;

    --tran-01: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    overflow-x: hidden;
    background: var(--body-color);
    transition: var(--tran-03);
}
/* Modo escuro */
body.dark{
    --body-color: #18191A;
    --navbar-color: #242526;
    --primary-color: #3A3B3C;
    --modo-color: #3A3B3C;
    --alternar-color: #EC3540;
    --text-color: #CCC;
}


/* Barra de Navegação */
/* Barra aberta */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 101%;
    width: 200px;
    padding: 10px 10px;
    margin-top: -.5%;     
    background: var(--navbar-color);
    transition: var(--tran-05);
    z-index: 1;
    font-family: 'Poppins', sans-serif;
} 

/* Barra fechada */
.navbar.fechar{
    width: 80px;
    padding-left: 2.5%;
}

/* Texto aberto */
.navbar .txt{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

/* Texto fechado */
.navbar.fechar .txt{
    opacity: 0;
}

/* Logo */
.navbar .img{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Links */
.navbar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

/* Icon links */
.navbar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

/* Icon e texto links */
.navbar li .icon,
.navbar li .txt{
    color: var(--text-color);
    transition: var(--tran-02);
}

/* logo */
.navbar section{
    position: relative;
}


.navbar .img-txt .logo{
    width: 40px;
    border-radius: 6px;
}

.navbar section .img-txt{
    display: flex;
    align-items: center;
}

section .img-txt .empresa{
    display: flex;
    flex-direction: column;
}

/* Container nome e slogan */
.empresa{
    margin-left: 10%;
    margin-top: 5%;
}
/* nome */
.empresa .nome{
    font-weight: 600;
    color: var(--text-color);
}
/* slogan */
.empresa .slogan{
    margin-top: -2px;
    color: var(--text-color);

}

/* Abrir e fechar barra de navegação */
.navbar section .alternar{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    cursor: pointer;
    color: var(--navbar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.navbar.fechar section .alternar{
    transform: translateY(-50%);
}

body.dark .navbar section .alternar{
    color: var(--text-color);
}

.navbar .menu{
    margin-top: 35px;
}

/* Links */
.navbar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.navbar li a:hover{
    background: var(--primary-color);
}

.navbar li a:hover .icon,
.navbar li a:hover .txt{
    color: var(--navbar-color);
}

/* Links modo escuro */
body.dark.navbar li a:hover .icon,
body.dark.navbar li a:hover .txt{
    color: var(--text-color);
}

/* Barra */
.navbar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Switch */
.menu-bar .modo{
    position: relative;
    border-radius: 6px;
    margin-bottom: 10%;
    background: var(--modo-color);
}


.menu-bar .modo .lua-sol{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .modo i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .modo i.sol{
    opacity: 0;
}

body.dark .menu-bar .modo i.sol{
    opacity: 1;
}
body.dark .menu-bar .modo i.lua{
    opacity: 0;
}

.alternar{
    cursor: pointer;
}
.menu-bar .modo .alternar-interruptor{
    right: 0px;
    display: flex;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--modo-color);
    transition: var(--tran-05);
}

.alternar-interruptor .interruptor{
    position: relative;
    height: 22px;
    min-width: 44px;
    border-radius: 25px;
    background: var(--alternar-color);
}

.interruptor::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--navbar-color);
    transition: var(--tran-03);
}

body.dark .interruptor::before{
    left: 24px;
}

.modo-txt{
    visibility: hidden;
}

/* Main */
.home{
    position: relative;
    left: 80px;
    width: calc(100% - 80px);
    transition: var(--tran-05);
}


@media only screen and (min-width: 430px){
    /* Barra fechada */
    .navbar.fechar{
        width: 85px;
    }
    /* Icon Links */
    .navbar li .icon{
        min-width: 63px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px){
    /* Barra fechada */
    .navbar.fechar{
        width: 100px;
    }
    /* Icon Links */
    .navbar li .icon{
        min-width: 70px;
        font-size: 25px;
    }
    /* Container nome e slogan */
    .empresa{
        margin-top: 10%;
    }
    /* Icon veiculos */
    .veiculos{
        margin-top: 50px;
    }
    /* Icon aparelhos */
    .aparelhos{
        margin-top: 100px;
    }
    /* Icon login */
    .login{
        margin-top: 150px;
    }
    /* Texto aberto */
    .navbar .txt{
        font-size: 17px;
    }
    .alternar-interruptor .interruptor{
        margin-right: 7px;
    }
    .menu-bar .modo{
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 820px){
    /* Barra aberta */
    .navbar{
        width: 225px;
    } 
    /* Barra fechada */
    .navbar.fechar{
        width: 110px;
    }
    /* Links */
    .navbar li a{
        height: 125%;
    }
    /* Icon Links */
    .navbar li .icon{
        min-width: 78px;
        font-size: 25px;
    }
    /* Container nome e slogan */
    .empresa{
        margin-top: 10%;
    }
    /* Icon veiculos */
    .veiculos{
        margin-top: 50px;
    }
    /* Icon aparelhos */
    .aparelhos{
        margin-top: 100px;
    }
    /* Icon login */
    .login{
        margin-top: 150px;
    }
    /* Texto aberto */
    .navbar .txt{
        font-size: 17px;
    }
    /* Switch */   
    .alternar-interruptor .interruptor{
        margin-right: 15px;
    }
    .menu-bar .modo{
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 1024px){
    /* Barra aberta */
    .navbar{
        width: 300px;
        align-items: center;
        text-align: center;
        justify-content: center;
    } 
    /* Barra fechada */
    .navbar.fechar{
        width: 90px;
    }
    /* Logo barra fechada */
    .navbar.fechar .img-txt .logo{
        width: 40px;
        margin-right: 50px;
    }
    /* Icon Links barra fechada */
    .navbar.fechar li .icon{
        min-width: 20px;
        font-size: 20px;
        margin-left: 13px;
    }
    /* Links barra fechada*/
    .navbar.fechar li a{
        height: 40px;
        margin-left: -10px;
    }
    /* Links */
    .navbar li a{
        height: 50px;

    }
    /* Texto aberto */
    .navbar .txt{
        font-size: 15px;
    }
    /* Container logo */
    .img-txt{
        margin-top: 10%;
        font-size: 50px;
    }
    /* Container nome e slogan */
    .empresa{
        margin-top: 1%;
    }
    /* Switch */
    .modo-txt{
        visibility:visible;
    }
    .alternar-interruptor .interruptor{
        margin-right: 0px;
    }
    .navbar.fechar .menu-bar .modo{
        margin-right: 10%;
    }
}