:root{
    --cor-principal: #EC3540; 
    --Audiowide: 'Audiowide', sans-serif;
    --Arimo: 'Arimo', sans-serif;
    --Asap: 'Asap', sans-serif;
    --Padauk: 'Padauk', sans-serif;
    --Poppins: 'Poppins', sans-serif
}

.cards1{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 3%;
    align-items: center;
}
.cards2{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 3%;
    align-items: center;
}
.cards3{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 3%;
    align-items: center;
    margin-bottom: 10%;
}

.container {
    width: 200px;
    height: 250px;
    perspective: 1000px;
    margin-top: 15%;
}
    
.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
} 
.container:hover .front {
    opacity: 0;
    transition: all 750ms;
}

    
.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
    
.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 10px 4px #2424241f;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.front {
    background-color: #e0dfdf;
    opacity: 1;
    transition: all 1s;
    color: #202020;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid #424242;
}
body.dark .front{
   background: rgb(29, 31, 31);
   color: #fff;
   border: 5px solid #d0d0d0;
}
.front .carro {
    width: 80%;
    margin-top: 10%;
    margin-left: 5%;
    background-size: contain;
}

.l{
    background-color: var(--cor-principal);
    height: 2px;
    color: #ffffff00;
    width: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.nome-card{
    font-family: var(--Audiowide);
    padding-left: 5%;
    padding-right: 5%;
}    
.container-logo{
    width: 100%;
    text-align: left;
    margin-top: 10%;
}
.logo-veic1{
    width: 10%;
    margin-top: 13%;
    margin-left: 5%;
}
.logo-veic2{
    width: 10%;
    margin-top: 0%;
    margin-left: 5%;
}
    
.back {
    background-color: var(--cor-principal);
    transform: rotateY(180deg) rotateZ(180deg);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid #424242;
}
.descricao-veic{
    font-family: var(--Padauk);
    font-size: 1rem;
    color: #ffffff;
    padding: 5%;
    margin-top: 10%;
}
.container-preco{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.l1-veic{
    background-color: #424242;
    height: 3px;
    color: #ffffff00;
    width: 50px;
    margin-right: 2.5%;
}
.l2-veic{
    background-color: #424242;
    height: 3px;
    color: #ffffff00;
    width: 50px;
    margin-left: 2.5%;
}
.preco-veic1{
    width: 200%;
    font-family: var(--Padauk);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 2.55%;
    border-radius: 15px 15px 15px 15px;
    border: solid 3px #424242;
    background: #fff;
    color: #000;
    margin-top: 5%;
}
.preco-veic2{
    width: 200%;
    font-family: var(--Padauk);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 2.55%;
    border-radius: 15px 15px 15px 15px;
    border: solid 3px #424242;
    background: #fff;
    color: #000;
    margin-top: 5%;
}

a{
    text-decoration: none;
}
.btn-comprar{
    background-color: #424242;
    width: 150px;
    height: 35px;
    padding: 3%;
    margin-top: 10%;
    margin-left: 0%;
    border-radius: 5px 5px 5px 5px;
}
.btn-comprar:hover{
    transform: scale(1.050);
}
.btn-comprar:active{
    background-color: #e0dfdf;
    color:#EC3540;
}
.txt-comprar{
    font-family: var(--Arimo);
    color: #fff;
    height: 30px;
    width: 100%;
    padding: 3%;
    letter-spacing: 1px;
    font-size: .8rem;
}
.txt-comprar:active{
    color:#000;
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Tablet 768PX */
@media only screen and (min-width:768px){
    .cards1{
        display: flex;
        flex-direction: row;
        margin-left: 3%;
    }
    .cards2{
        display: flex;
        flex-direction: row;
        margin-left: 3%;
    }
    .cards3{
        display: flex;
        flex-direction: row;
        margin-left: 3%;
        margin-bottom: 10%;
    }
    .container {
        width: 3000px;
        height: 250px;
        margin-top: 10%;
        margin-left: 5%;
    }

    .logo-veic1{
        margin-top: 20%;
    }
    .logo-veic2{
        margin-top: 8%;
    }
    .lv3{
        margin-top: 8%;
    }


    .descricao-veic{
        margin-top: 2.5%;
    }

    .l1-veic{
        width: 45px;
    }
    .l2-veic{
        width: 45px;
    }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Tablet 800PX */
@media only screen and (min-width:800px){

    .logo-veic1{
        margin-top: 15%;
    }
    .logo-veic2{
        margin-top: 2%;
    }
    .lv3{
        margin-top: 15%;
    }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Tablet 834PX */
@media only screen and (min-width:834px){

    .logo-veic1{
        margin-top: 12%;
    }
    .logo-veic2{
        margin-top: -25%;
    }
    .lv3{
        margin-top: 12%;
    }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Tablet 1024PX */
@media only screen and (min-width:1024px){
    .cards1{
        display: flex;
        flex-direction: row;
        margin-left: 3%;
    }
    .cards2{
        display: flex;
        flex-direction: row;
        margin-left: 3%;
    }
    .cards3{
        display: flex;
        flex-direction: row;
        margin-left: 3%;
        margin-bottom: 10%;
    }
    .container {
        width: 250px;
        height: 300px;
        margin-top: 5%;
        margin-left: 10%;
    }
    

    .logo-veic1{
        margin-top: 10%;
    }
    .l1-veic{
        width: 75px;
    }
    .l2-veic{
        width: 75px;
    }


    .btn-comprar{
        margin-top: 15%;
    }
    .txt-comprar{
        font-size: 1.2rem;
    }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Tablet 1366PX */
@media only screen and (min-width:1366px){
    .logo-veic2{
        margin-top: 2%;
    }
}
