@import url(css/geral.css);

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    z-index: 9;
}

/* Iframe */
.maps{
    width: 80%;
    height: 25vh;
    margin-top: 20%;
    border-radius: 5px;
}

/* Redes sociais */
.redes{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 8%;
    text-align: center;
    justify-content: space-between;
}
.icon{
    width: 43%;
    margin-left: 0%;
    margin-right: 0%;
}

/* Logo */
.img-Footer{
    width: 50%;
    margin-top: 25%;
}

/* Copy */
.copy{
    font-family: 'Arimo';
    color: #fff;
    margin-top: 25%;
    padding-bottom: 5%;
}