*{
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
}

.container-slider{
    width: 50%;
    max-width: 500px;
    max-height: 400px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 15px 50px;
    position: relative;
    border-radius: 10px;
}

.slider{
    display: flex;
    width: 900%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.slider-section{
    width: 100%;
}

.slider-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
}


.btn{
    position: absolute;
    width: 6%;
    height: 9%;
    color: #EC3540;
    top: 97%;
    left: 83%;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    margin-top: -4%;
}
#dir{
    font-size: 30px;
    margin-left: 10%;

}
#esq{
    font-size: 30px;
}


#esq:hover{
    color: #fff;
}#dir:hover{
    color: #fff;
}
#esq:active{
    color: #909090;
}#dir:active{
    color: #909090;
}


/*  
.play{
    position: absolute;
    width: 6%;
    height: 8%;
    color: #EC3540;
    top: 97%;
    left: 2.5%;
    right: 5%;
    font-size: 30px;
    background: #fff;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5%;
}
.play:hover{
    background: #EC3540;
    color: #fff;
}
.play:active{
    background: #212121;
    color: #fff;
    border-color: #EC3540;
}
*/