.slide{
    width: 50%;
    padding-right: 5%;
    margin-top: 5%;
    margin-left: 20%;

}

.container-slide{
    display: flex;
    grid-gap: 2rem;
    max-width: 768px;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 1px ;
    cursor: grab;
    scroll-behavior: smooth;
    margin-top: 10%;
    margin-left: 20%;
}

.container-slide::-webkit-scrollbar{
    display: none;
}

.fornecedor{
    min-width: calc(100% - .1rem);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    -webkit-user-select:auto;
    user-select: none;
    border-radius: 100%;
    height: 17vh;
}

.jaguar{
    width: 70%;
}.mercedes{
    width: 50%;
}.audi{
    width: 50%;
}.bmw{
    width: 50%;
}.ferrari{
    width: 100%;
}.lamborghini{
    width: 50%;
}.porsche{
    width: 60%;
    margin-top: 10%;
}.bugatti{
    width: 70%;
}